.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.remind-input{
  border: 1px solid #007BFF;
  margin-right: 10px;
}

.input-group-prepend{
  padding: 10px 10px 10px 10px;
}

.btn-outline-primary{
  border: 1px solid gray;
  padding: 0px 10px 0px 10px;
}

.card-body{
  padding: 6px 0px 0px 6px;
}

.card-button{
  float: right;
  margin: 1px 5px 5px 0px;
}

.check{
  margin: 0px 15px 0px 10px
}

.focused{
  color: blue;
  background-color: white;
}